<div class="fixed w-full h-16 bg-teal-700 shadow-sm">
  <div class="container h-full flex align-items-center">
    <img src="assets/logo.png" class="h-6" />
    <div class="ltr:text-end rtl:text-end flex-1">
      <ul
        class="[&_li]:inline-block [&_li]:mx-2 text-teal-100 [&_li:hover]:text-teal-300 cursor-pointer [&_li]:px-2 [&_li]:leading-[3.75rem] [&_li]:border-b-4 [&_li]:border-transparent [&_li:hover]:border-teal-300">
        <li [routerLink]="['']" routerLinkActive="text-teal-300 bg-white/5" [routerLinkActiveOptions]="{exact: true}">
          {{ 'translate_home_page' | translate }}
        </li>
        <li [routerLink]="['', 'users']" routerLinkActive="text-teal-300 bg-white/5">
          {{ 'translate_users_page' | translate }}
        </li>
      </ul>
    </div>
    <div ngbDropdown #userMenu="ngbDropdown" class="ms-2">
      <div ngbDropdownToggle
        class="rounded-full bg-teal-400 h-12 w-12 flex align-items-center cursor-pointer after:hidden"
        [ngClass]="userMenu.isOpen() ? 'bg-teal-400' : 'bg-teal-300 hover:bg-teal-400' ">
        <fa-icon [icon]="['far', 'user']" [size]="'2x'" [fixedWidth]="true"
          class="w-full text-center text-teal-900"></fa-icon>
      </div>
      <div ngbDropdownMenu
        class="bg-gray-50 shadow-sm w-40 [&_li:hover]:bg-gray-100 [&_li:hover]:cursor-pointer [&_li]:p-2 [&_li]:text-start">
        <ul>
          <li (click)="userMenu.close()">
            <fa-icon [icon]="['fas', 'address-card']" [fixedWidth]="true" class="me-2"></fa-icon>
            {{ 'translate_edit_profile' | translate }}
          </li>
          <li class="text-red-600" (click)="logout(); userMenu.close()">
            <fa-icon [icon]="['fas', 'arrow-right-from-bracket']" [fixedWidth]="true"
              class="me-2 rtl:rotate-180"></fa-icon>
            {{ 'translate_logout' | translate }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>