<div class="fixed w-full h-16 z-10 bg-teal-700 shadow-sm">
  <div class="container h-full flex align-items-center">
    <img src="assets/logo.png" class="h-6 hidden md:block" />
    <img src="assets/logo-sm.png" class="h-6 md:hidden" />
    <div class="ltr:text-end rtl:text-end flex-1">
      <ul
        class="[&_li]:inline-block mb-0 mx-2 text-teal-100 [&_li:hover]:text-teal-300 cursor-pointer [&_li]:px-4 [&_li]:leading-[3.75rem] [&_li]:border-b-4 [&_li]:border-transparent [&_li:hover]:border-teal-300">
        <li [routerLink]="['']" routerLinkActive="text-teal-300 bg-white/5" [routerLinkActiveOptions]="{exact: true}">
          {{ 'translate_home_page' | translate }}
        </li>
        <li [routerLink]="['', 'users']" routerLinkActive="text-teal-300 bg-white/5">
          {{ 'translate_users_page' | translate }}
        </li>
      </ul>
    </div>
    <div ngbDropdown #langMenu="ngbDropdown" placement="bottom-end" class="ms-2">
      <div ngbDropdownToggle class="rounded-full h-8 w-8 flex align-items-center cursor-pointer after:hidden"
        [ngClass]="langMenu.isOpen() ? 'bg-teal-400' : 'bg-teal-300 hover:bg-teal-400' ">
        <fa-icon [icon]="['fas', 'globe']" [size]="'lg'" [fixedWidth]="true"
          class="w-full text-center text-teal-900"></fa-icon>
      </div>
      <div ngbDropdownMenu class="bg-gray-50 shadow-sm w-8 [&_li:hover]:bg-gray-100 [&_li]:p-2 [&_li]:text-start">
        <ul class="m-0 p-0">
          <li *ngFor="let lang of languages" [ngClass]="isCurrentLang(lang)? 'opacity-50' : 'cursor-pointer'"
            (click)="changeLanguage(lang.key); langMenu.close()">
            {{ lang.label| translate }}
          </li>
        </ul>
      </div>
    </div>
    <div ngbDropdown #userMenu="ngbDropdown" placement="bottom-end" class="ms-2">
      <div ngbDropdownToggle class="flex cursor-pointer after:hidden rounded-full"
        [ngClass]="userMenu.isOpen() ? 'bg-teal-400' : 'bg-teal-300 hover:bg-teal-400' ">
        <div class="rounded-full bg-teal-500 h-8 w-8 flex align-items-center ltr:me-2 rtl:me-2">
          <fa-icon [icon]="['far', 'user']" [size]="'lg'" [fixedWidth]="true"
            class="w-full text-center text-teal-900"></fa-icon>
        </div>
        <div class="flex align-items-center ltr:pe-3 rtl:pe-3">
          {{ userName }}
        </div>
      </div>
      <div ngbDropdownMenu
        class="bg-gray-50 shadow-sm w-40 [&_li:hover]:bg-gray-100 [&_li:hover]:cursor-pointer [&_li]:p-2 [&_li]:text-start">
        <ul class="m-0 p-0">
          <li (click)="userMenu.close()">
            <fa-icon [icon]="['fas', 'address-card']" [fixedWidth]="true" class="me-2"></fa-icon>
            {{ 'translate_edit_profile' | translate }}
          </li>
          <li class="text-red-600" (click)="logout(); userMenu.close()">
            <fa-icon [icon]="['fas', 'arrow-right-from-bracket']" [fixedWidth]="true"
              class="me-2 rtl:rotate-180"></fa-icon>
            {{ 'translate_logout' | translate }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>